/* ----------- google font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* -------------- basic style ---------- */
:root{
    --white:white;
    --bg-back:#161616;
    --pink:#DD0000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: var(--white);
    font-weight: 700;
}
p{
    font-weight: 400;
    font-size: 1.3vw;
}
a{
    text-decoration: none;
    color: #161616;
}
li{
    list-style: none;
}
button,.button{
    border: 0;
    border-radius: 5px;
    font-size: 1.4vw;
    font-weight: 400;
    padding: 3% 5%;
    background-color: #e74c3c;
    color: var(--white);
}

/* ---------- banner style -------- */
header .banner{
    background-color: var(--bg-back);
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    margin:50px 5% 0;
    padding: 0 3% 0 7%;
}
.banner .banner-left{
    width: 50%;
}
.banner .banner-left h1{
    font-size: 4.2vw;
    line-height: 5vw;
}
.banner .banner-left p{
    color: var(--white);
    margin:3% 0 4%;
}
.banner .banner-right .banner-image img{
    width: 100%;
    padding: 0;
    padding-top: 33px;
    animation: banner-image infinite 15s ;
}
@keyframes banner-image {
    0%,100%{ 
        transform: rotate(-2deg);transform-origin: left bottom;
        border-top-right-radius: 100px;
    }
    50%{ 
        transform: rotate(-4deg);transform-origin: left bottom;
    }
}
.banner .banner-left h1{
    /* animation: top-bottom  inherit  15s .2s; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: top-bottom  infinite  15s .1s;
}
.banner .banner-left p{
    animation: top-bottom  infinite  15s .1s;
}
.banner .banner-left button{
    animation:top-bottom  infinite  15s ;
}
  
  @keyframes top-bottom {
    0%{
        position: relative;
        top: 0;
    }10%{
        position: relative;
        top: 30px;
        color: #161616;
        background-color: #161616;
    }
    20%{ 
        position: relative;
        top: 30px;
        color: #161616;
        background-color: #161616;
    }
    30%{ 
        position: relative;
        top: 0px;
    }
    100%{ 
        position: relative;
        top: 0px;
    }
}
main{
    margin:50px 5% 0;
    display: flex;
}

nav.sidebar{
    display: inline-block;
    width: 312px;
    height: 312px;
    background-color: var(--bg-back);
    border-radius: 10px;
    margin-right: 24px;
}

.sidebar ul li {
    padding:17px 39px;
    background-color: var(--white);
    margin: 30px;
    text-align: center;
    border-radius: 10px;
}

.sidebar ul li.active {
    background-color:#e74c3c;
}
.sidebar ul li.active a{
    color: var(--white);
}
.sidebar ul li a{
    color: #161616;
    font-weight: 600;
    /* font-size: 2vw; */
}
/* ----------- article section style ----------- */
section.content{
    width:calc(100% - 312px);
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3,1fr);
}
article{
    border: 1px solid #E8E8E8;
    border-radius: 15px;

}
article img{
    width: 100%;
}
article .art-desc{
    padding: 20px;
}
article .art-desc > a{
    display: inline-block;
    border: solid 1px #161616;
    border-radius: 5px;
    padding: 4px 16px;
    margin-bottom: 15px;
}
article .art-desc h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 20px;
}
.time-comm span{
    margin-right: 10px;
}
.time-comm time{
    margin-right: 30px;
}

a.button.view{
    display: none;
}

/* ------ upcoming page style ------- */
.upcoming {
    width:calc(100% - 312px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    grid-gap: 20px;
}
.upcoming-box {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    justify-content: center;
    padding: 18% 10%;
}

.vs-flag {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4%;
}
.vs-flag img{
    width: 100%;
}
.vs-flag h4{
    font-size: 2vw;
}
.upcoming-match-des{
    text-align: center;
}
.upcoming-match-des h3{
    padding: 9% 0 4.5%;
    font-size: 1.45vw;
}
.upcoming-match-des .date{
    font-size: 1.15vw;
    align-items: center;
}



/* ------ footer style --------- */

footer{
    background-color: var(--bg-back);
    margin-top: 10%;
}
footer h3{
    color: var(--white);
    font-size: 40px;
    text-align: center;
    padding: 10% 0 4%;
}
footer ul{
    display:flex;
    justify-content:center;
    padding: 4% 15% 10%; 
    align-content: center;
    flex-wrap: wrap;
    gap: 20px ;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin:0 6%;
}
footer ul li a{
    font-size: 16px;
    color: #B9B9B9;
}